# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

Data belongs to different categories. It can be numeric, text, true/false, complex numbers, date, time etc. Data should be stored correctly for us to be able to do the desired operations on the data. If the data is stored incorrectly, for example numerical data is stored as text data, we can not do numerical or arithmetic operations on the data because the methods and the operations for a data depend largely on the type of data (object) being referred to.

There are various data types in Python. Listed below are the most prominently used ones:
1. Numeric - This is further divided into 
    (a.) Integer
    (b.) Float
    (c.) Complex
    
2. String

3. Boolean

## Numeric Data Type

As the name suggests, Numeric data type consists of numbers. These numbers can be whole numbers, decimal numbers or complex numbers.

Whole numbers are stored in Integer (Int) type.

Decimal numbers are stored in Float (Float64) type.

Complex numbers are stored in Complex type.

You will find Integer and Float type being used most of the times.

You can check the data type of an object using the type() command.

In [ ]:
#Let's look at some examples.

In [1]:
integer=7

In [2]:
type(integer)

int

In [3]:
float_1=8.45

In [4]:
type(float_1)

float

In [5]:
complex_1=7.80j
type(complex_1)

complex

In [2]:
ccomplx=5j

In [3]:
ccomplx*ccomplx

(-25+0j)

In [ ]:
# Your turn now. 
# Store 2, 1086M, 3.14567 into three different objects and check their data types.

In [11]:
int(2)

2

In [13]:
type(int)

type

In [1]:
float(3.14567)

3.14567

In [2]:
type(float)

type

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [20]:
# Printing your name

my_name='my name is sindhu'
print(my_name)

my name is sindhu

In [10]:
type(my_name)

str

In [18]:
# Your turn to play around now.
#Save your name to an object and check its data type.
my_nick='my nick is sidhu'
print(my_nick)
type(my_nick)

my nick is sidhu

str

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [11]:
# Let's check how many characters does your name contain.
len(my_name)

17

In [19]:
len(my_nick)

16

my_name='  '

In [21]:
len(my_name)

17

In [14]:
# Let's see if My_Name is all Caps or not. 
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.
my_name.isupper()

False

In [20]:
my_nick.isupper()

False

In [22]:
my_nick=my_nick.upper()

In [23]:
print(my_nick)

MY NICK IS SIDHU

In [22]:
# Let's convert My_Name to all caps.
my_name=my_name.upper()

In [23]:
print(my_name)

MY NAME IS SINDHU

In [24]:
# Now the output of isupper() changes to True.
my_name.isupper()

True

In [24]:
# Your turn to try it now. 
# Write a sentence and store it into an object.

my_dream='to travel world'

In [25]:
# Check the data type of the object you just created.
print(my_dream)

to travel world

In [27]:
# Check if it is all caps or not.

my_dream.isupper()

False

In [29]:
# Challenge - Check if it is all lower case or not.

my_dream=my_dream.upper()

In [30]:
# Convert your object into all caps.

print(my_dream)

TO TRAVEL WORLD

In [33]:
# Challenge - Convert your object into all lower case.
my_dream.isupper()

True

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [26]:
# Let's look at examples.

x = True
y = False

In [27]:
type(x)

bool

In [28]:
type(y)

bool

In [29]:
# Your turn!
x=10
y=15
x<y

True

In [34]:
x=21
y=17
x>y

True

In [35]:
type(x)

int

In [36]:
type(y)

int

## Data Type Conversions

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [30]:
# Consider an object containing an integer.
string1=1
type(string1)

int

In [31]:
string1=str(string1)
type(string1)

str

In [33]:
# I want to use the value 1 as a text value. So let's convert it.
integer2='500'
type(integer2)

str

In [34]:
integer2=int(integer2)
type(integer2)

int

In [35]:
# Exercise for you. Store the number 123456 as string.

float3='27.8'
type(float3)

str

In [36]:
float3=float(float3)
type(float3)

float

In [50]:
integer1=123456
type(integer1)

int

In [51]:
integer1=str(integer1)
type(integer1)

str

In [ ]:
# Let's do the opposite now. Let's learn to convert string to float now.

In [52]:
string7=1234
type(string7)

int

In [53]:
string7=float(string7)
type(string7)

float

In [ ]:
# Your turn now.

Good job so far!

You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats. 
But very often we come across data being stored incorrectly especially while importing.

# Conditional Statements and Loops

### IF condition

In [54]:
#Example
x=1
if x>0:
    print('Hello World')

Hello World

In [56]:
#Run the exact above code with x=0
x=1
if x>0:
    print('Hello')

Hello

IF-ELSE condition

In [59]:
x=0
if x>0:
    print('hello')
else:
    print('hi sindhu')

hi sindhu

In [63]:
num=35
if num>=10:
    print('number greater then or equal 10')
else:
    print('number less than 10')

number greater then or equal 10

In [65]:
num=15
if num<=25:
    print('number greater then or equal 25')
else:
    print('number less than 25')

number greater then or equal 25

In [66]:
integer2=24
if integer2<25:
    print('true')
else:
    print('flase')

true

## Nested IF-ELSE condition

In [ ]:
# Write a code which can identify the largest number from 3 given numbers

In [71]:
 a=10
 b=15
 c=90
if (a>b) and (a>c):
    print('a is lastest')
elif (b>c) and (b>a):
    print('b is lastest')
elif (a>c) and (b>c):
    print('c is lastest')
else:
    print('nothing')

nothing

In [75]:
num=-8
if num>=0:
    if num>0:
        print('no is positive')
    else:
        print('no is zero')
else:
      print('no is negetive')

no is negetive

## Advanced IF-ELSE

### Automating the Tax Computation

>Taxable income Tax Rate
    
>Up to Rs. 2,50,000	            ***Nil***

>Rs. 2,50,001 to Rs. 5,00,000	***5%***

>Rs. 5,00,001 to Rs. 7,50,000	***10%***

>Rs. 7,50,001 to Rs. 10,00,000	***15%***

>Rs. 10,00,001 to Rs. 12,50,000	***20%***

>Rs. 12,50,001 to Rs. 15,00,000	***25%***

>Above Rs. 15,00,000	        ***30%***

In [83]:
income=float(input('please enter income'))
tax_slabs={'slab1':0,'slab2':5,'slab3':10,'slab4':15,'slab5':20,'slab6':25,'slab7':30}
if income<=250000:
    print('no tax')
elif(income>=250001) and(income<=500000):
    print('your tax slab is {}% and amount payable is{}'.format(tax_slabs['slab2'],(income*tax_slabs['slab2'])/100))
elif(income>=500001) and(income<=750000):
    print('your tax slab is {}% and amount payable is{}'.format(tax_slabs['slab3'],(income*tax_slabs['slab3'])/100))
elif(income>=750001) and(income<=1000000):
    print('your tax slab is {}% and amount payable is{}'.format(tax_slabs['slab4'],(income*tax_slabs['slab4'])/100))
elif(income>=1000001) and(income<=1250000):
    print('your tax slab is {}% and amount payable is{}'.format(tax_slabs['slab5'],(income*tax_slabs['slab5'])/100))
elif(income>=1250001) and(income<=1500000):
    print('your tax slab is {}% and amount payable is{}'.format(tax_slabs['slab6'],(income*tax_slabs['slab6'])/100))
elif(income>=1500001):
    print('your tax slab is {}% and amount payable is{}'.format(tax_slabs['slab7'],(income*tax_slabs['slab7'])/100))

print('to check tax amount re-run code')

please enter income700000
your tax slab is 10% and amount payable is70000.0
to check tax amount re-run code