In [1]:
print("hello_world")

hello_world

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\Lenovo'

## Data Structure

### Lists

In [20]:
my_list=["madhu",2,8.5,'c']

In [6]:
print(my_list)

('madhu', 2, 8.5, 'c')

In [5]:
my_list=['sindhu',21,0.7,'k']

In [8]:
print(my_list)

('sindhu', 21, 0.7, 'k')

In [6]:
for element in my_list:
    print(element)

sindhu
21
0.7
k

In [12]:
# accessing the index 3 element 
print('Index 3 element:',my_list[3])

Index 3 element: k

In [14]:
#acess the first 2 element in the list
print('First 2 element:',my_list[0:2])

First 2 element: ('sindhu', 21)

In [15]:
print(my_list[0:3])

('sindhu', 21, 0.7)

In [16]:
print(my_list[::-1])

('k', 0.7, 21, 'sindhu')

In [17]:
print(my_list[:])

('sindhu', 21, 0.7, 'k')

In [18]:
#print last element
print(my_list[-1])

k

In [7]:
print(my_list[::-1])

['k', 0.7, 21, 'sindhu']

In [21]:
# adding the list within the list
my_list.append(['Datascience','businessanalysitcs'])

In [22]:
print(my_list)

['madhu', 2, 8.5, 'c', ['Datascience', 'businessanalysitcs']]

In [23]:
# extending a list
my_list.extend(['datascience','businessanalysist'])

In [24]:
print(my_list)

['madhu', 2, 8.5, 'c', ['Datascience', 'businessanalysitcs'], 'datascience', 'businessanalysist']

In [25]:
# adding a new element at particular index
my_list=['sindhu',21,0.7,'k']

In [26]:
my_list.insert(2,['datascience','businessanalysist '])

In [27]:
print(my_list)

['sindhu', 21, ['datascience', 'businessanalysist '], 0.7, 'k']

In [28]:
my_list=['sindhu',21,0.7,'k']

In [29]:
#remove an elemnt from the list 
del my_list[2]
print(my_list)

['sindhu', 21, 'k']

In [33]:
my_list.remove('k')

In [34]:
print(my_list)

['sindhu', 21]

In [35]:
my_list=['Sindhu',21,0.7,'k']

In [36]:
popped_element=my_list.pop(2)
print(my_list)

['Sindhu', 21, 'k']

In [37]:
print(popped_element)

0.7

In [38]:
my_list=[23,44,36,65,77,6,4]

In [40]:
my_list.sort()
print(my_list)

[4, 6, 23, 36, 44, 65, 77]

In [46]:
my_list.sort(reverse=True)
print(my_list)

[77, 65, 44, 36, 23, 6, 4]

In [2]:
dream_list=('dream to fly high')
print(dream_list)

dream to fly high

In [3]:
type[dream_list]

type['dream to fly high']

In [7]:
num_list=[21,34,56]
print(num_list)

[21, 34, 56]

In [8]:
type(num_list)

list

In [11]:
data_science_list=['data science with python','big data']
novel_list=['lords of rings','harry potter']
print(data_science_list)
print(novel_list)
type(novel_list)

['data science with python', 'big data']
['lords of rings', 'harry potter']

list

In [13]:
library=data_science_list + novel_list
print(library)

['data science with python', 'big data', 'lords of rings', 'harry potter']

In [14]:
type(library)

list

In [15]:
novel_list.append(['jumanji'])

In [17]:
print(novel_list)

['lords of rings', 'harry potter', ['jumanji']]

# TUPLE

In [47]:
empty_tuple=()
print(empty_tuple)

()

In [48]:
my_tuple=('data scientist','sindhu',25,18)

In [49]:
print(my_tuple)

('data scientist', 'sindhu', 25, 18)

In [52]:
for element in my_tuple:
    print(element )

data scientist
sindhu
25
18

In [54]:
print(my_tuple[2])

25

In [55]:
print(my_tuple[-1])

18

In [56]:
print(my_tuple[0:3])

('data scientist', 'sindhu', 25)

In [57]:
print(my_tuple[0][7])

i

In [58]:
print(my_tuple)

('data scientist', 'sindhu', 25, 18)

In [59]:
print(my_tuple.index(18))

3

In [60]:
my_tuple=('data scientist','sindhu',65,87,65,43)
print(my_tuple)

('data scientist', 'sindhu', 65, 87, 65, 43)

In [61]:
print(my_tuple.count(65))

2

In [62]:
my_tuple=('data scientist','sindhu',65,87,65,43)
print(my_tuple)

('data scientist', 'sindhu', 65, 87, 65, 43)

In [63]:
my_tuple=my_tuple+('sindhu',)
print(my_tuple)

('data scientist', 'sindhu', 65, 87, 65, 43, 'sindhu')

In [64]:
my_tuple=my_tuple+('sindhu',2107)
print(my_tuple)

('data scientist', 'sindhu', 65, 87, 65, 43, 'sindhu', 'sindhu', 2107)

## DICTIONARY

In [71]:
#Creating dictionary
my_dict={}
print(my_dict)

{}

In [72]:
my_dict={1:'data',2:'scientists',3:'analysty'}
print(my_dict)

{1: 'data', 2: 'scientists', 3: 'analysty'}

In [73]:
print(my_dict.get(2))

scientists

In [74]:
print(my_dict[3])

analysty

In [75]:
print(my_dict.items())

dict_items([(1, 'data'), (2, 'scientists'), (3, 'analysty')])

In [77]:
#changing values in a dictionary
my_dict[2]='artist'

In [78]:
print(my_dict)

{1: 'data', 2: 'artist', 3: 'analysty'}

In [79]:
print(my_dict.values())

dict_values(['data', 'artist', 'analysty'])

In [81]:
my_dict['data']=2107
print(my_dict)

{1: 'data', 2: 'artist', 3: 'analysty', 'data': 2107}

In [82]:
my_dict[3]='sindhu'
print(my_dict)

{1: 'data', 2: 'artist', 3: 'sindhu', 'data': 2107}

In [83]:
#pop the spectified element (delecting)
a=my_dict.pop(2)
print(a)

artist

In [84]:
print(my_dict)

{1: 'data', 3: 'sindhu', 'data': 2107}

In [85]:
b=my_dict.pop(3)
print(b)

sindhu

In [86]:
print(my_dict)

{1: 'data', 'data': 2107}

In [88]:
my_dict.clear()

In [89]:
print(my_dict)

{}

## set

In [90]:
my_set=set(['sindhu','data analysis',21,0.7])
print(my_set)

{0.7, 'data analysis', 21, 'sindhu'}

In [91]:
print(type(my_set))

<class 'set'>

In [92]:
len(my_set)

4

In [93]:
#adding an element
my_set.add('kusuma')
print(my_set)

{0.7, 'data analysis', 'kusuma', 21, 'sindhu'}

In [100]:
my_set.update(['business','analysis'])

In [102]:
my_set=set(['sindhu','data analysis',21,0.7])
print(my_set)

{0.7, 'data analysis', 21, 'sindhu'}

{0.7, 'data analysis', 21, 'sindhu'}

In [118]:

my_set=set(['sindhu','data analysis',21,0.7])
print(my_set)

{0.7, 'data analysis', 21, 'sindhu'}

In [119]:
my_set.remove('data analysis')
print(my_set)

{0.7, 21, 'sindhu'}

In [120]:
my_set.discard(21)
print(my_set)

{0.7, 'sindhu'}